body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background-color: #383737d0;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
.formcontainer form {
  display: flex;
}

.formcontainer form input {
  padding: 10px;
  border: none;
  border-bottom: 3px solid bisque;
  margin: 0 15px;
  background-color: transparent;
}
.formcontainer form input:first-of-type {
  width: 300px;
  color: white;
  font-size: 1.5rem;
}

.formcontainer form input[type="text"]:focus {
  outline: none;
}

.formcontainer form input[type="submit"] {
  background-color: bisque;
  cursor: pointer;
  font-weight: 700;
  /* width: 3rem; */
}

.shopping-list {
  list-style-type: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 0;
}

.shopping-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
  list-style-position: outside;
  padding-left: 10px;
}

li button {
  margin-left: auto;
  margin-right: 15px;
  font-weight: 600;
  padding: 10px;
}

li input {
  margin-right: 10px;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
