html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  height: 100vh;
}

#root {
  height: 100%;
}

main {
  display: flex;
  background-color: cadetblue;
  height: 100%;
}

.sidebar,
.modal {
  height: 100%;
}

.sidebar {
  width: 40%;
}

.modal {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
