html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

main {
  display: flex;
  background-color: cadetblue;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

main button {
  display: block;
  margin: 0 auto;
}

.bars {
  font-size: 3rem;
  color: rgb(36, 38, 37);
  position: absolute;
  top: 1rem;
  left: 3rem;
  cursor: pointer;
  z-index: 100000;
}

.sidebar {
  background-color: beige;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  transition: transform 0.3s ease-in;
  transform: translateX(-100%);
}

.show-sidebar {
  transform: translateX(0%);
}

.links-container {
  list-style: none;
  margin-top: 4rem;
}

.links-container li {
  margin: 1.5rem 0;
}

.links-container a {
  text-decoration: none;
  color: rgb(34, 33, 33);
  margin-left: 10px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1f2025dd;
  background-image: url("./19335268_6085949.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
}

.show-modal {
  z-index: 10;
  opacity: 1;

  /* adding these properties because we want the transition to happen */
  /* after the element is visible */
  transition-property: opacity;
  transition-duration: 2s;
}

.modal-overlay > div {
  width: 600px;
  height: 300px;
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-overlay > div > span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: darkorange;
  cursor: pointer;
}
